@use 'reset';

body {
  font-family:
    Inter,
    system-ui,
    -apple-system,
    sans-serif;
  height: 100%;
  color: black;
}

.app {
  background: grey;
}

.page {
  min-height: calc(100vh - 64px);
  padding: 45px;

  @media (width <= 600px) {
    padding: 10px;
  }
}
